.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width:600px;
}

.vegetable {
  
  display: flex;
  width: 45px;
  justify-content: center;
  border: 1px solid green;
  border-radius: 10px;
  padding: 30px;
}